<div class="row">
  {{#each data}}
  <div class="content mb-4 col-xl-3 col-lg-4  col-md-6 col-12">
    <div class="description">
      <div class="img">
        <img src="{{link_poster}}" alt="Riverdale">
      </div>
      <a href="../serial/{{_id}}" class=""title="{{title}}">{{title}}</a>
    </div>
  </div>
{{/each}}
</div>
<nav class="col-12" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="../page/1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each pages}}
      <li class="page-item"><a class="page-link" href="../page/{{this}}">{{this}}</a></li>
    {{/each}}
    </ul>
  </nav>
