          <div class="container m-0 mb-3 row  " style="background-color: #fff;">
            <div class="col-md-5 col-12">
              <img class="col-12 p-0" src="{{serial.link_poster}}" alt="{{title}}">
            </div>
            <div class="col-12 col-md-7 inform">
              <dl>
                <h2>{{serial.title}}</h2>
                <dt>Выпущено:</dt>
                <dd>{{serial.premiereWorldCountry}} / {{serial.year}}</dd>
                <dt>Оригинальное название :</dt>
                <dd>{{serial.title_orig}}</dd>
                <dt>Слоган :</dt>
                <dd>{{serial.tagline}}</dd>
                <dt>Жанр:</dt>
                <dd>
                {{#each serial.genres}}
                {{#if @last}}
                  {{genre}}
                {{else}}
                  {{genre}},
                {{/if}}
                {{/each}}
                <dd>
                <dt>В ролях:</dt>
                <dd>
                {{#each serial.staff}}
                {{#if @last}}
                  {{nameRu}}
                {{else}}
                  {{nameRu}},
                {{/if}}
                {{/each}}
                <dd>
                <dt>Продолжительность</dt>
                <dd>{{serial.length}} мин.</dd>
              </dl>
            </div>
            <div class="col-12">
              <dl>
                <dt>О сериале:</dt>
                <dd>{{serial.description}}</dd>
              </dl>
              <h2 style="color: red">Смотреть сериал {{serial.title}} онлайн</h2>
            </div>
            <div class="col-12">
              <iframe src="//37.1.223.227/Bm40ALnYhdjx/tv-series/{{serial.id_CDN}}" width="100%" height="404"  frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
